<div class="hero mt-10">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">
                AstroNo
            </h1>
            <p class="pt-6 text-neutral-content">
                Learning to learn or practice to practice? Join whatever it is.
            </p>
            <p class="pt-4 text-neutral-content">
                Estimated Launch Date: 9999
            </p>
        </div>
    </div>
</div>